{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Word Matcher Admin</h1>
    <p class="lead">Admin tool for generating databases to use in the game.</p>
</div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
  {% endif %}
{% endwith %}
<form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
    <label>CSV file: </label><input type="file" name="word_database" />
    <input type="submit" value="Submit"/>
</form>
{% endblock %}
